<footer>
  <p class="footer-links">
    <a href="https://www.linkedin.com/in/theodore-j-gunther/" rel="me noopener" target="_blank">LinkedIn</a>
  </p>
  <small>
    &copy; 2026 TJ Gunther
  </small>
</footer>
