<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>

		<div class="utility-bar">
			<ul class="social-links">
				<li><a href="https://www.linkedin.com/in/theodore-j-gunther/" target="_blank" rel="noopener noreferrer">LinkedIn</a></li>
				<li><a href="https://bsky.app/profile/digitj.bsky.social" target="_blank" rel="noopener noreferrer">Bluesky</a></li>
				<li><a href="https://vmst.io/@DigiTJ" target="_blank" rel="me noopener noreferrer">Mastodon</a></li>
				<li><a href="https://www.threads.com/@scottford" target="_blank" rel="noopener noreferrer">Threads</a></li>
			</ul>
		</div>

		<header>
			<em>
				<a href="{{ '/' | url }}">{{ metadata.title }}</a>
			</em>
			{% include "components/nav.njk" %}
		</header>

		<main>
			{{ content | safe }}
		</main>

		{% include "components/footer.njk" %}

	</body>

</html>
